section.conference-agenda
	h2.main-title Conference Agenda
	ul.conference-agenda__list
		li.conference-agenda__item
			.conference-agenda__period 10:00 - 12:00
			.conference-agenda__description This mistaken
		li.conference-agenda__item
			.conference-agenda__period 12:00 - 12:45
			.conference-agenda__description Explain to you
		li.conference-agenda__item
			.conference-agenda__period 12:45 - 16:40
			.conference-agenda__description Denouncing pleasure
		li.conference-agenda__item
			.conference-agenda__period 16:40 - 17:40
			.conference-agenda__description Coffee break
		li.conference-agenda__item
			.conference-agenda__period 17:40 - 18:50
			.conference-agenda__description Pain was born and I will
		li.conference-agenda__item
			.conference-agenda__period 18:50 - 19:25
			.conference-agenda__description And I will
		li.conference-agenda__item
			.conference-agenda__period 20:00 - 23:00
			.conference-agenda__description Fun Afterparty