footer.main-footer
	.wrapper.wrapper_relative
		.main-footer__copyrights Copyright &copy; 2015 Java Competency Centre
		nav.main-footer__nav
			a.main-footer__link(href='#', title='Help') Help
			a.main-footer__link(href='#', title='About Us') About Us
			a.main-footer__link(href='#', title='Contact Us') Contact Us
		.main-footer__epam-made We Are Made In &lt;EPAM&gt; Systems