header.page-header
	.wrapper
		.header-logo
			a.header-logo__link(href='/', title='Competency Centre')
		nav.header-nav
			ul.header-nav__list
				li.header-nav__item
					a.header-nav__link.header-nav__link_active(href='#', title='News') News
				li.header-nav__item
					a.header-nav__link(href='#', title='Members') Members
				li.header-nav__item
					a.header-nav__link(href='#', title='Events') Events
				li.header-nav__item
					a.header-nav__link(href='#', title='Trainings') Trainings

	.header-nav-menu-toggle.header-nav-menu-toggle_active

	nav.header-nav-mobile
		.header-nav-mobile__close-button
		ul.header-nav-mobile__list
			li.header-nav-mobile__item
				a.header-nav-mobile__link(href='#', title='News') News
			li.header-nav-mobile__item
				a.header-nav-mobile__link(href='#', title='Members') Members
			li.header-nav-mobile__item
				a.header-nav-mobile__link(href='#', title='Events') Events
			li.header-nav-mobile__item
				a.header-nav-mobile__link(href='#', title='Trainings') Trainings
