section.members
	h2.main-title Members List
	ul.members__list
		li.members__item
			.members__name Cheryl James
			.members__city Villeurbane
		li.members__item
			.members__name Maria Celly
			.members__city Asnieres-sur-Seine
		li.members__item
			.members__name Carolyn Eliot
			.members__city Caen
		li.members__item
			.members__name Cristine Estrada
			.members__city Besancon
		li.members__item
			.members__name Anna Howell
			.members__city La Rochelle
		li.members__item
			.members__name Chirstine McDonald
			.members__city Saint-Etienne
		li.members__item
			.members__name Sharon Wheeller
			.members__city Caen