section.news
	h2.main-title Competency News
	.news__item
		.news__date 12.01.2015
		.news__title Sed ut perspiciatis unde omnis iste natus error sit voluptatem to iste natus
		.news__content But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will f the system, and expound great explorer of the truth, the master.
	.news__item
		.news__date 12.01.2015
		.news__title Sed ut perspiciatis unde omnis iste natus
		.news__content But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give of the system, and expound the plorer of the truth, the master.
	.news__item
		.news__date 12.01.2015
		.news__title Sed ut perspiciatis unde omnis
		.news__content But I must explain to you how all this mistfffaken idea of denouncing pleasure and praising pain was born and I will give of the system, and expound the plorer of the truth, the master.