section.wrapper.social-links
	ul.social-links__list
		li.social-links__item
			a.social-links__link.social-links__link_facebook(href='#', title='Facebook') Facebook
		li.social-links__item
			a.social-links__link.social-links__link_twitter(href='#', title='Twitter') Twitter
		li.social-links__item
			a.social-links__link.social-links__link_linkedin(href='#', title='LinkedIn') LinkedIn
		li.social-links__item
			a.social-links__link.social-links__link_instagram(href='#', title='Instagram') Instagram
		li.social-links__item
			a.social-links__link.social-links__link_googleplus(href='#', title='Google+') Google+
		li.social-links__item
			a.social-links__link.social-links__link_youtube(href='#', title='YouTube') YouTube