.main-slider
  height: 520px
  width: 100%
  overflow: hidden
  position: relative

.main-slider__image-container
  height: inherit

.main-slider__item
  width: 100%
  height: inherit
  background-position: center 0
  background-repeat: no-repeat
  
.main-slider__item_1
  background-image: url(../img/banner_desktop_hd.png)  

.main-slider__image-container
  /*position: absolute*/
  /*left: 0*/
  /*top: 0*/

.main-slider__contols-container
  height: 100%
  /*position: absolute*/
  /*left: 0*/
  /*top: 0*/

.main-slider__button
  position: absolute
  top: 50%
  margin-top: -23px
  width: 18px
  height: 47px
  background-position: 0 0
  background-repeat: no-repeat

.main-slider__button_left
  background-image: url(../img/arrow_left.png)