extends partials/layout

block content
	body
		include partials/header
		include partials/main-slider

		section.main-content.wrapper.clear
			include partials/news
			include partials/conference-agenda
			include partials/members

		section.main-content.wrapper.clear
			article.main-page-article
				h2.main-title Last Article
				section
					img.main-page-article__image.main-page-article__image_align-left(src='img/photo_1.png', alt='')
					h2.main-page-article__title Born and I will give of the system, and expound the plorer of the truth
					p.main-page-article__p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					p.main-page-article__p Lorem Ipsum is simply dustry. Lorem Ipsndustry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					p.main-page-article__p Lorem Ipsum is simply dummy text of the pretting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					p.main-page-article__p Lorem Ipsum is simp Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

			article.main-page-article
				h2.main-title Centre Life
				section
					img.main-page-article__image.main-page-article__image_align-right(src='img/photo_2.png', alt='')
					h2.main-page-article__title Born and I will give of the system, and expound the plorer of the truth
					p.main-page-article__p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkard dummy text ever since the 1500s, when an unknown
					p.main-page-article__p Lorem Ipsum is simply dummy text of tfry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkard dummy text ever since the 1500s, when an unknown
					p.main-page-article__p Lorem Ipsum is simply dummy text of the printing aindustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkard dummy text ever since the 1500s, when an unknown
					p.main-page-article__p Lorem Ipsum is simply dufsdfmmy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ste 1500s, when an unkard dummy text ever since the 1500s, when an unknown


		include partials/social-links
		include partials/footer